@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body {
  background-color: #f7f7f7;
  color: #2b2929;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  overflow-x: hidden;
  padding-top: 70px;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

footer {
  font-size: 12px;
}

.carousel {
  margin: 0;
  padding: 0;
}

.texto {
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.formulario {
  margin-left: 50px;
  margin-right: 50px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  margin: 0 10px;
  color: #413f3f;
  text-decoration: none;
}

.social-icons img {
  width: 30px;
  height: 30px;
  padding: 1px;
  justify-content: center;
}

.subtitulo {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.formulario label {
  font-size: 0.9em;
}

.subtitulo {
  font-size: 2em;
  margin-bottom: 20px;
}

.formulario label {
  font-size: 1em;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.preguntas-frecuentes {
  max-width: 800px;
  margin: 0 auto;
}

.pregunta {
  margin-bottom: 20px;
}

.pregunta h3 {
  margin-bottom: 10px;
}

.respuesta p {
  margin-top: 10px;
}

.logo {
  width: 75px;
}

.custom-navbar {
  background-color: #7edfba;
}

.custom-navbar .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  transition: color 1s;
}

.custom-navbar .navbar-nav .nav-link:hover {
  color: #0720ff;
}

.navbar-nav {
  padding: 8px 0;
}

.seccionTitulo {
  text-align: center;
  padding: 50px;
  background-image: linear-gradient(to bottom, #7edfba, #fdfdfd);
}

.hero {
  color: #333;
  padding: 0px 0;
  margin-top: 50px;
  margin-bottom: 0;
  color: #2b2929;
}

.gradient-background {
  background-image: linear-gradient(to bottom, #7edfba, #fdfdfd);
}

a {
  text-decoration: none;
}

.smaller-button {
  font-size: 0.8rem;
}

.card-img-top {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card-img-top {
  border-radius: 10px;
  padding: 20px;
  max-width: 100%;
  height: auto;
}

.colorBtn {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.colorBtn:hover {
  background-color: turquoise;
  color: white;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
}

.card-container {
  margin-top: 100px;
  margin-bottom: 50px;
}

.subtitulo {
  margin-top: 70px;
  margin-bottom: 30px;
}

.card-title {
  font-size: 18px;
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  /* Evita que la galería se desborde en pantallas pequeñas */
}

.gallery img {
  width: calc(33.33% - 10px);
  /* Ajusta el ancho de cada imagen */
  margin-bottom: 20px;
  /* Agrega espacio entre las imágenes */
  max-width: 100%;
  /* Asegura que las imágenes no se desborden */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.subtitulo {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.quienes-somos {
  padding: 40px 0;
}

.quienes-somos p {
  font-size: 16px;
  line-height: 1.6;
}

/* Estilos para la foto y el video */
.contenedor-foto-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columna-foto {
  padding: 10px;
  margin-top: 100px;
}

.columna-foto img {
  max-width: 100%;
  height: auto;
}

.columna-video {
  padding: 10px;
  margin-top: 80px;
  width: 100%;
}

.columna-video iframe {
  max-width: 100%;
  height: 300px;
  width: 500px;
}

@media (max-width: 768px) {
  .logo {
    width: 50px;
  }
}
.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 921px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .card-container {
    margin: 1px 1px;
    margin-top: 70px;
  }
  .col-xl-3 {
    flex-basis: calc(50% - 10px);
  }
}

/*# sourceMappingURL=estilo.css.map */
