.card-img-top {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.card-img-top{
    border-radius: 10px;
    padding: 4px;
    max-width: 100%;
    height: auto;
}


.colorBtn {
    background-color: #3498db ; /* Cambia el color del fondo del botón a turquesa */
    color: white; /* Cambia el color del texto a blanco */
    padding: 10px 20px; /* Ajusta el espaciado interno del botón */
    border-radius: 5px; /* Agrega esquinas redondeadas */
    text-decoration: none; /* Quita la subrayado del enlace */
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave */
}

/* Cambio de color del botón al pasar el mouse sobre él */
.colorBtn:hover {
    background-color:turquoise ; /* Cambia el color de fondo al pasar el mouse */
    color: white; /* Mantén el color del texto en blanco */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
}

.card-container {
    margin-top: 100px; /* Ajusta el valor según sea necesario para dejar espacio */
    margin-bottom: 50px;
}

.subtitulo {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-title{
    font-size: 18px;
}





