.card-img-top {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card-img-top {
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;
    height: auto;
}


.colorBtn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.colorBtn:hover {
    background-color: turquoise;
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.card-container {
    margin-top: 100px;
    margin-bottom: 50px;
}

.subtitulo {
    margin-top: 70px;
    margin-bottom: 30px;
}

.card-title {
    font-size: 18px;
}

.gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}

.gallery img {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    max-width: 100%;
}