body {
    background-color: $color-fondo;
    color: $color-fuentes;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    overflow-x: hidden;
    padding-top: 70px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    overflow-x: hidden;
}

html, body {
    overflow-x: hidden;
  }

footer {
    font-size: 12px;
}

.carousel {
    margin: 0;
    padding: 0;
}

.texto {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.formulario {
    margin-left: 50px;
    margin-right: 50px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
    color: #413f3f;
    text-decoration: none;
}

.social-icons img {
    width: 30px;
    height: 30px;
    padding: 1px;
    justify-content: center;
}


.subtitulo {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.formulario label {
    font-size: 0.9em;
}


.subtitulo {
    font-size: 2em;
    margin-bottom: 20px;
}

.formulario label {
    font-size: 1em;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}


.pregunta {
    margin-bottom: 20px;
}

.pregunta h3 {
    margin-bottom: 10px;
}

.respuesta p {
    margin-top: 10px;
}

