.logo {
    width: 75px;
}

.custom-navbar {
    background-color: #7edfba;
}

.custom-navbar .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    transition: color 1s;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #0720ff;
}

.navbar-nav {
    padding: 8px 0;
}

.seccionTitulo{
        text-align: center;
        padding: 50px;
       
 background-image: linear-gradient(to bottom, #7edfba, #fdfdfd);
}