.hero {
    color: #333;
    padding: 0px 0;
    margin-top: 50px;
    margin-bottom: 0;
    color: $color-fuentes;

}

.gradient-background {
    background-image: linear-gradient(to bottom, #7edfba, #fdfdfd);
}

a {
    text-decoration: none;
}

.smaller-button {
    font-size: 0.8rem;
}