.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.subtitulo {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.quienes-somos {
  padding: 40px 0
}

.quienes-somos p {
  font-size: 16px;
  line-height: 1.6;
}

/* Estilos para la foto y el video */
.contenedor-foto-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columna-foto {
  padding: 10px;
  margin-top: 100px;
}

.columna-foto img {
  max-width: 100%;
  height: auto;
}

.columna-video {
  padding: 10px;
  margin-top: 80px;
  width: 100%;
}
  
.columna-video iframe {
  max-width: 100%;
  height: 300px;
  width: 500px;
}

