$color-fuentes: #2b2929;
$color-fondo: #f7f7f7;
$color-botones: #27a776;
$color-botones-secundario: #2cbc85;
$color-fuentes-secundario: rgba(255,255,255,0.6);
$start-color: #7edfba;
$end-color: #fdfdfd;